
body {
    width: 650px; 
}

div {
    text-align: center;
}

.snakepic {
    margin-bottom: -5;
    border-bottom: -5;
    padding-bottom: -5;
}

.image {
    height: 100px;
}

button {
    margin-bottom: 50px;
}

.part {
    display: block;
    height: 160px;
    width: 100px;
    border-radius: 100%;
    margin-top: -75px;
    margin-bottom: -20px;
    margin-left: 300px;
}

.yellow {
    background: rgb(224, 203, 105);
}

.lightbrown {
    background: rgb(156, 121, 56);
}

footer {
    margin-top: 50px;
}